pytorch实现ViT算法（用于性能提升要求）/vit_base_patch16_224_in21k.pth filter=lfs diff=lfs merge=lfs -text
data/flower_photos.tgz filter=lfs diff=lfs merge=lfs -text
data/flower_photos.zip filter=lfs diff=lfs merge=lfs -text
